[project]
	description = Personal best practices for Objective-C(Xcode 7.0+)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jiakai Lian (jiakai-lian)
[access "refs/for/refs/*"]
	read = group user/Jiakai Lian (jiakai-lian)
	push = group user/Jiakai Lian (jiakai-lian)
	label-Code-Review = -2..+2 group user/Jiakai Lian (jiakai-lian)
	label-Verified = -1..+1 group user/Jiakai Lian (jiakai-lian)
	rebase = group user/Jiakai Lian (jiakai-lian)
	removeReviewer = group user/Jiakai Lian (jiakai-lian)
	submit = group user/Jiakai Lian (jiakai-lian)
[access "refs/heads/*"]
	read = group user/Jiakai Lian (jiakai-lian)
	create = group user/Jiakai Lian (jiakai-lian)
	push = +force group user/Jiakai Lian (jiakai-lian)
	pushMerge = group user/Jiakai Lian (jiakai-lian)
[access "refs/tags/*"]
	push = +force group user/Jiakai Lian (jiakai-lian)
	pushTag = group user/Jiakai Lian (jiakai-lian)
	pushSignedTag = group user/Jiakai Lian (jiakai-lian)
